---
Language:                       Cpp
BasedOnStyle:                   Chromium

BreakBeforeBinaryOperators:     NonAssignment
ColumnLimit:                    100
IndentWidth:                    4
InsertBraces:                   true
SortIncludes:                   CaseInsensitive
---
