[submodule "minhook"]
	path = minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "cpr"]
	path = cpr
	url = https://github.com/libcpr/cpr.git
	branch = 1.9.x
[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog
[submodule "doctest"]
	path = doctest
	url = https://github.com/doctest/doctest.git
